 .nopad {
	 padding-left: 0px;
	 padding-right: 0px;
 }

#modtable tr {
	transition: 0.5s;
}
#modtable tr:hover {
	background-color: lightblue;
}
@keyframes spin {
	from {transform:rotate(deg);}
	to {transform:rotate(360deg);}
}

.animate-spin {
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
