.mods-page {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 
		"upload list";
}
.mod-upload {
	grid-area: upload;
}
.mod-list {
	grid-area: list;
}
.mod-list>.striped-table {
	display: flex;
	flex-direction: column;
}
div.error {
	color: red;
	background: #fbb;
	border: 1px red solid;
}
