<div class="game-pane active">
	<div class="left">
		<div class="header">
			<a class="title" href={{format!("game/{}/status", game.id)}}><span>{{ game.name }}</span></a> <br>
			<section>{{ game.address }}</section>
		</div>
		<div class="sep"></div>
		<div class="details">
			<section>Turn {{ game.turn_summary.turn_number }}</section>
			<section>{{ game.turn_summary.submitted }}/{{ game.turn_summary.total }}</section>
			<section>{{ game.next_turn_string }}</section>
		</div>
	</div>
	<div class="right">
		<img src="/images/maps/{{ game.map_id}}_100-0.jpg" />
	</div>
</div>
