{% extends "container.html" %}
{% block body %}
<div class="tabset">
	<input name="tabset_1" {% if self.tab=="status" %} checked="checked" {% endif %} hidden=true type="radio" class="css-tab-input" id="css-tab-status" />
	<input name="tabset_1" {% if self.tab=="schedule" %} checked="checked" {% endif %} type="radio" class="css-tab-input" id="css-tab-schedule" />
	<input name="tabset_1" {% if self.tab=="settings" %} checked="checked" {% endif %} type="radio" class="css-tab-input" id="css-tab-settings" />
	<input name="tabset_1" {% if self.tab=="emails" %} checked="checked" {% endif %} type="radio" class="css-tab-input" id="css-tab-emails" />
	<input name="tabset_1" {% if self.tab=="admin-logs" %} checked="checked" {% endif %} type="radio" class="css-tab-input" id="css-tab-admin-logs" />
	<!-- Admin Only -->
	<input name="tabset_1" {% if self.tab=="logs" %} checked="checked" {% endif %} type="radio" class="css-tab-input" id="css-tab-logs" />
	<input name="tabset_1" {% if self.tab=="discord" %} checked="checked" {% endif %} type="radio" class="css-tab-input" id="css-tab-discord" />
	<!-- End Admin -->
	<nav class="nav tabset_labels tabs css-tab-labels">
		<h1>{{ game.name }}</h1>
		<label href="#status" class="tab css-tab-label tab1" for="css-tab-status">status</label>
		<label class="tab css-tab-label tab2" for="css-tab-schedule">schedule</label>
		<label class="tab css-tab-label tab3" for="css-tab-settings">settings</label>
		<label class="tab css-tab-label tab4" for="css-tab-emails">emails</label>
		<label class="tab css-tab-label tab6" for="css-tab-admin-logs">admin logs</label>
	<!-- Admin Only -->
		{% if self.authed == AuthStatus::AuthSuccess %}
			<label class="tab css-tab-label tab5" for="css-tab-logs">logs</label>
			{% if self.discord_clientid.is_some() %}
				<label class="tab css-tab-label tab6" for="css-tab-discord">discord</label>
			{% endif %}
		{% endif %}
	<!-- End Admin -->
		<div class="auth-input">
			<form action="/game/{{game.id}}/status" method="get">
				<div class="input-group">
					<input {% if self.authed == AuthStatus::AuthFail %}class="invalid"{% endif %} name="password" type="password" placeholder="password" {% if self.authed == AuthStatus::AuthSuccess%}value="hello:)"{% endif %}/>
					<input class="btn btn-block" type="submit" value="admin mode" />
				</div>
			</form>
		</div>
	</nav>
	<div>
		<section class="tabsection">
			<div class="game-details">
				{% if game.teamgame == true %}
					{% include "disciple_list.html" %}
				{% else %}
					{% include "player_list.html" %}
				{% endif %}
				<div>
					<div>
						<a href="{{format!("/map/{}", self.game.map_id)}}">
							<img class="map-img" src={{format!("/images/maps/{}.jpg", self.game.map_id)}} />
						</a>
					</div>
					{% include "info.html" %}
					<div class="pane">
						<h3>Downloads</h3>
						<table class="striped-table link-list">
							{% for cmod in self.get_current_mods() %}
							<tr>
								<td>{{cmod.name}}</td>
								<td><a class="btn" href="{{format!("/mod/{}", cmod.id)}}">Goto</a></td>
								<td><a download="{{cmod.name}}.zip" class="btn" href="{{format!("/mod/{}/download", cmod.id)}}">Download</a></td>
							</tr>
							{% endfor %}
							{% match self.get_current_map() %}
							{% when Some with (map) %}
							<tr>
								<td>{{map.name}}</td>
								<td><a class="btn" href="{{format!("/map/{}", map.id)}}">Goto</a></td>
								<td><a download="{{map.name}}.zip" class="btn" href="{{format!("/map/{}/download", map.id)}}">Download</a></td>
							</tr>
							{% else %}
							{% endmatch %}
						</table>
					</div>
				</div>
			</div>
		</section>
		<section class="tabsection">
			<div class="schedule-details">
				<div>
					<div class="pane">
						<h3>Turn Log</h3>
						<table class="turn-log">
							<thead>
								<tr>
									<th></th>
									{% for player in self.get_joined_nations() %}
									<th class="rotate"><div><span>{{player.name}}</span></div></th>
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								{% for turn in 0..self.turn_number %}
								<tr>
									<td>Turn {{turn+1}}</td>
									{% for player in self.get_joined_nations() %}
									{% match self.get_turn_status(player.nation_id, turn) %}
									{% when 0 %}
										<td class="bg-unsubmitted"></td>
									{% when 1 %}
										<td class="bg-unfinished"></td>
									{% when 2 %}
										<td class="bg-submitted"></td>
									{% else %}
										<td class="bg-unsubmitted"></td>
									{% endmatch %}
									{% endfor %}
									<td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div>
					{% include "info.html" %}
					<fieldset {% if self.game.archived || self.authed != AuthStatus::AuthSuccess %}disabled{% endif %}>
						<div class="pane">
							<h3>Scheduling</h3>
							<form method="post" action="/game/{{game.id}}/postpone">
								<div class="input-row">
									<input placeholder="1440" name="timer" type="number" />
									<input type="submit" class="btn btn-block" value="Postpone (Mins)"/>
								</div>
							</form>
							<form method="post" action="/game/{{game.id}}/timer">
								<div class="input-row">
									<input placeholder="1440" name="timer" type="number" />
									<input type="submit" class="btn btn-block" value="Set Timer (Mins)"/>
								</div>
							</form>
							{% if self.turn_number == 0 %}
							<form method="post" action="/game/{{game.id}}/launch">
								<div class="input-row">
									<input placeholder="60" name="countdown" type="number" />
									<input type="submit" class="btn btn-block" value="Begin Countdown (Secs)"/>
								</div>
							</form>
							{% else %}
							{% if self.turn_number > 1 %} 
								<form action="/game/{{game.id}}/rollback" method="POST">
									<input value="Rollback Turn"  type="submit" class="btn btn-block"/>
								</form>
							{% endif %}
							<form action="/game/{{game.id}}/unstart" method="POST">
								<input value="Unstart Game" type="submit" class="btn btn-block"/>
							</form>
							{% endif %}
							<form action="/game/{{game.id}}/archive" method="POST">
								<input {% if self.game.archived %} value="Archived"{% else %}value="Archive Game"{% endif %} type="submit" class="btn btn-block btn-danger"/>
							</form>
						</div>
					</fieldset>
				</div>
			</div>
		</section>
		<section class="tabsection">
			<div class="pane">
				<form action="/game/{{game.id}}/settings" method="post">
					<input type="hidden" name="loaded" value="1" />
					<fieldset {% if self.game.archived || self.turn_number != 0 || self.authed != AuthStatus::AuthSuccess %}disabled="disabled"{% endif %}>
						{% include "settings.html" %}
						<input type="submit" class="btn btn-primary btn-block" value="Save Settings" />
					</fieldset>
				</form>
			</div>
		</section>
		<section class="tabsection">
			<fieldset {% if game.archived %} disabled {% endif %}>
				{% include "email.html" %}
			</fieldset>
		</section>
		<section class="tabsection">
			{% include "admin-logs.html" %}
		</section>
		<!-- Admin Only -->
		<section class="tabsection">
		{% if self.authed == AuthStatus::AuthSuccess %}
		{% include "logs.html" %}
		{% endif %}
		</section>
		<section class="tabsection">
		{% if self.authed == AuthStatus::AuthSuccess && self.discord_clientid.is_some() %}
		{% include "discord.html" %}
		{% endif %}
		</section>
		<!-- End Admin -->
	</div>
</div>
{% endblock %}
