<head>
	<meta charset="utf-8" /> 
		<title>Blitzserver - {{ game.name }}</title
</head>
<body>
	<h1>{{ game.name }}</h1>
	<br>
	<span><b>Status:</b> {{ self.status }}</span>
	<br>
	{% if self.status == "Active" %}
	<span><b>Turn:</b> {{ self.turn_number }}</span>
	<br>
	<span><b>Next Turn:</b> {{ self.game.next_turn_string() }}</span>
	<br>
	{% endif %}
	{% if self.game.port.is_some() %}
		<span><b>Address:</b> {{ format!("{}:{}", self.hostname, self.game.port.unwrap()) }} </span>
	{% else %}
		<span><b>Address:</b> N/A </span>
	{% endif %}
	<br>
	<hr>
	<b>Players:</b>
	<br>
	{% for player in players %}
		{% if self.status == "Active" %}
			{{ player.1 }}:
			<br>
			{% match self.turns.get(player.0) %}
				{% when Some with (turn_vec) %}
					{% for turn in turn_vec %}
						{% match turn.twohfile_id %}
							{% when Some with (_) %}
								◼
							{% else %}
								◻
						{% endmatch %}
					{% endfor %}
				{% else %}
			{% endmatch %}
			<br>
		{% else %}
			{{ player.1 }}
			<br>
		{% endif %}
	{% endfor %}
	<hr>
	{% if self.status == "Active" %}
		<b>Map:</b>
		<br>
		<img width="100px" src="/images/maps/{{ self.map.id }}.jpg" />
		<br>
		<hr>
		<span><b>Era:</b> {{ self.game.era_name() }}</span>
		<br>
		<b>Thrones:</b> {{ self.game.thrones_t1 }} / {{ self.game.thrones_t2 }} / {{ self.game.thrones_t3 }} ( {{ self.game.throne_points_required }} )
		<hr>
		<form method="POST" action="/game/{{self.game.id}}/timer">
			<label for="timer">Timer(Minutes):</label>
			<input required name="timer" type="text" type="number" value="{{self.game.timer_string()}}"></input>
			<input type="submit" value="Set Timer"></input>
		</form>
	{% else %}
		{% let settings = self.settings.clone() %}
		<form method="POST" action="/game/{{self.game.id}}/settings">
			{% include "settings.html" %}
			<br>
			<br>
			<input type="submit" value="Update and Reboot" />
		</form>
		<hr>
		<form method="POST" action="/game/{{self.game.id}}/launch">
			<label for="countdown">Countdown(secs):</label>
			<input name="countdown" type="text" format="number" value="60"></input>
			<input type="submit" value="Launch Game"></input>
		</form>
		<br>
	{% endif %}
	<a href="/games">Return To Game List</a>
</body>
