<head>
	<meta charset="utf-8" /> 
</head>
<body>
	<h1>{{ game.name }}</h1>
	<br>
	<span><b>Status:</b> {{ self.status }}</span>
	<br>
	{% if self.status == "Active" %}
	<span><b>Turn:</b> {{ self.turn_number }}</span>
	<br>
	{% endif %}
	<span><b>Era:</b> {{ self.game.era_name() }}</span>
	<br>
	{% if self.game.port.is_some() %}
		<span><b>Address:</b> {{ format!("{}:{}", self.hostname, self.game.port.unwrap()) }} </span>
	{% else %}
		<span><b>Address:</b> N/A </span>
	{% endif %}
	<br>
	<b>Players:</b>
	<br>
	{% for player in players %}
		{% if self.status == "Active" %}
			{{ player.1 }}:
			<br>
			{% match self.turns.get(player.0) %}
				{% when Some with (turn_vec) %}
					{% for turn in turn_vec %}
						{% match turn.twohfile_id %}
							{% when Some with (_) %}
								◼
							{% else %}
								◻
						{% endmatch %}
					{% endfor %}
				{% else %}
			{% endmatch %}
			<br>
		{% else %}
			{{ player.1 }}
			<br>
		{% endif %}
	{% endfor %}
	{% if mods.len() > 0 %}
		<b>Mods:</b>
		<br>
		{% for cmod in mods %}
			{{ cmod }}
			<br>
		{% endfor %}
	{% endif %}
	<b>Map:</b>
	<br>
	<img width="100px" src="/images/maps/{{ self.map.id }}.jpg" />
	<br>
	{% if self.status == "Active" %}
		<form method="POST" action="/game/{{self.game.id}}/timer">
			<label for="timer">Timer(Minutes):</label>
			<input name="timer" type="text" format="number" value="{{self.game.timer_string()}}"></input>
			<input type="submit" value="Set Timer"></input>
		</form>
	{% else %}
		<form method="POST" action="/game/{{self.game.id}}/launch">
			<label for="countdown">Countdown(secs):</label>
			<input name="countdown" type="text" format="number" value="60"></input>
			<br>
			<input type="submit" value="Launch Game"></input>
		</form>
		<br>
	{% endif %}
	<a href="/games">Return To Game List</a>
</body>
