<div class="pane status">
	<h3>Info</h3>
	<table class="striped-table">
		{% match self.game.port %}
		{% when Some with (port) %}
		<tr>
			<td>Address</td>
			<td><b>{{self.hostname}}:{{port}}</b></td>
		</tr>
		{% else %}
		<tr>
			Refresh to see port..
		</tr>
		{% endmatch %}
		<tr>
			<td>Status</td>
			{% if self.status == "Active" %}
			<td>Turn {{ self.turn_number }}</active>
				{% else %}
			<td>Waiting for players</active>
				{% endif %}
		</tr>
		{% if self.game.next_turn.is_some() %}
		<tr>
			<td>Next Turn</td>
			<td>{{ self.game.next_turn_string() }}</td>
		</tr>
		{% endif %}
		<tr>
	</table>
</div>
