<tr
	class="{% if nation.status==-1 %}unjoined{% endif %} {% if nation.is_disciple == true %}disciple{% else %}pretender{% endif %}">
		<td class="nation-name wide-column">
			{% if self.turn_number == 0 && self.authed == AuthStatus::AuthSuccess && nation.is_disciple == false %}
			<form action="{{game.id}}/assign-team" method="POST">
			<section>
				<input type="hidden" name="disciple" value="{% if nation.is_disciple %}1{% else %}0{% endif %}" />
				<input type="hidden" name="team" value="{{nation.team}}" />
				<div class="input-group">
					<select onchange="this.form.submit()" name="nation" required>
						<option value="" disabled selected>Nation</option>
						{% for pnation in self.nations %}
						<option {% if nation.id==pnation.nation_id %} selected {% endif %} value="{{pnation.nation_id}}">
							{{pnation.name}}, {{pnation.epithet}}</option>
						{% endfor %}
					</select>
			</section>
			<section>{{ nation.pretender_name }}</section>
			</div>
			</form>
			{% else %}
			<section>{{ nation.name }}, {{ nation.epithet }}</section>
			<section>{{ nation.pretender_name }}</section>
			{% endif %}
		</td>
		{% if self.turn_number > 0 %}
		<td class="turn-markers">
			{% for turn in self.get_turn_pips(nation.id) %}
			{% match turn.status %}
			{% when 0 %}
			<section class="unsubmitted">■</section>
			{% when 1 %}
			<section class="unfinished">■</section>
			{% when 2 %}
			<section class="submitted">■</section>
			{% else %}
			<section class="unsubmitted">■</section>
			{% endmatch %}
			{% endfor %}
		</td>
		{% match nation.status %}
		{% when 0 %}
		<td class="unsubmitted">unsubmitted</td>
		{% when 1 %}
		<td class="unfinished">unfinished</td>
		{% when 2 %}
		<td class="submitted">submitted</td>
		{% else %}
		<td class="unsubmitted">unsubmitted</td>
		{% endmatch %}
		{% else %}
		<td></td>
		<td>
			{% if self.authed == AuthStatus::AuthSuccess && nation.id > 0 %}
			<form action="{{game.id}}/assign-team" method="POST">
			<input type="hidden" name="disciple" value="1" />
			<input type="hidden" name="team" value="0" />
			<input type="hidden" name="nation" value="{{nation.id}}" />
			{% if nation.status != -1 %}
			<input type="submit" formaction="{{game.id}}/remove/{{nation.id}}" formmethod="POST" class="btn btn-block btn-danger"
				value="Remove Pretender" />
			{% else if nation.status == -1 %}
			<input type="submit" formaction="{{game.id}}/assign-team" formmethod="POST" class="btn btn-block"
				value="Remove From Team" />
			{% endif %}
			</form>
			{% endif %}
		</td>
		{% endif %}
	</form>
</tr>
