<h1>{{ game.name }}</h1>
<br>
<span><b>Era:</b> {{ self.game.era_name() }}</span>
<br>
{% if self.game.port.is_some() %}
	<span><b>Address:</b> {{ format!("{}:{}", self.hostname, self.game.port.unwrap()) }} </span>
{% else %}
	<span><b>Address:</b> N/A </span>
{% endif %}
<br>
<b>Players:</b>
<br>
{% for player in players %}
{{ player }}
<br>
{% endfor %}
<b>Mods:</b>
<br>
{% for cmod in mods %}
{{ cmod }}
<br>
{% endfor %}
<br>
<form method="POST" action="/game/{{self.game.id}}/launch">
	<label for="countdown">Countdown(secs):</label>
	<input name="countdown" type="text" format="number" value="60"></input>
	<br>
	<input type="submit" value=Launch Game</input>
</form>
<br>
<a href="/games">Return To Game List</a>
